name: Test
on: push
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  bump-checksums:
    runs-on: macOS-12
    defaults:
      run:
        shell: bash
    steps:
    - uses: tibdex/github-app-token@v2
      id: github-app-token
      with:
        app_id: ${{ secrets.APP_ID }}
        private_key: ${{ secrets.APP_PRIVATE_KEY }}
    - uses: actions/checkout@v3
      with:
        token: ${{ steps.github-app-token.outputs.token }}
    - name: Check last commit
      id: check-last-commit
      continue-on-error: true
      run: test "$(git log -1 --pretty=format:%s)" = 'Bump checksum'
    - uses: melusina-org/gha-install-macports@v1
      if: steps.check-last-commit.outcome == 'failure'
      id: install-macports
    - name: Bump checksum
      if: steps.check-last-commit.outcome == 'failure'
      run: |
        git ls-files -- '*/Portfile' | xargs dirname | xargs port bump
        if ! git diff --exit-code HEAD -- '*/Portfile'; then
          git config --local user.name 'github-actions[bot]'
          git config --local user.email '<github-actions[bot]@users.noreply.github.com>'
          git commit --message 'Bump checksum' -- '*/Portfile'
          git push
        fi
  test:
    needs: bump-checksums
    runs-on: macOS-12
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v3
    - uses: melusina-org/gha-install-macports@v1
      id: install-macports
    - name: Configure MacPorts
      run: |
        echo 'revupgrade_mode report' | sudo tee -a /opt/local/etc/macports/macports.conf
        cat <<-EOF | sudo tee /opt/local/etc/macports/sources.conf
        file://${{ github.workspace }} [nosync]
        rsync://rsync.macports.org/macports/release/tarballs/ports.tar [default]
        EOF
    - name: List ports
      run: find . -name 'Portfile' -execdir pwd \; | tee '${{ runner.temp }}/ports.txt'
    - name: Lint
      run: xargs port lint --nitpick < '${{ runner.temp }}/ports.txt'
    - name: Install
      id: install
      run: sudo xargs port install < '${{ runner.temp }}/ports.txt' | tee "$TMPDIR/install.log"
    - name: Show failure log
      if: failure() && steps.install.outcome == 'failure'
      run: grep 'Error:' "$TMPDIR/install.log" | grep -o ' /[^ ]*[.]log ' | xargs cat
